/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


/* APP STYLING */


#app {
    display: grid;
    grid-template-areas: 
    'header header'
    'form preview';
    grid-template-columns: 0.9fr 1fr;
}

/* HEADER */

#app > header {
    grid-area: header;
    font-size: 40px;
}

/* FORM */

#app > div:first-child {
    grid-area: form;
    background: grey;
    font-size: 16px;
}

/* RESUME PREVIEW */

#resume-preview {
  padding-bottom: 1vh;
}

#app > div:last-child {
    grid-area: preview;
    background: rgb(207, 202, 202);
    background-color: rgb(39, 42, 56);
    color: wheat;
}

/* PERSONAL INFORMATION */
#resume-preview > div:nth-child(1) > p {
  visibility: hidden;
}


#resume-preview > div:nth-child(1){
  display: grid;
  grid-template-areas: 'information picture';
}
#resume-preview > div:nth-child(1) > div:nth-child(3) {
  grid-area: 'information';
}
#resume-preview > div:nth-child(1) > div.personal-image {
  grid-area: 'picture';
}
#resume-preview > div > div > ul {
  padding-left: 3.2vw;
}
#resume-preview > div:nth-child(1) > div:nth-child(3) > ul > li {
  display: grid;
}
#resume-preview > div:nth-child(1) > div:nth-child(3) > ul > li:nth-child(5)::before {
  content: 'Profile';
  /* padding-left: 1vh; */
  font-size: 2.5vh;
  margin-bottom: 0.7vh;
}
#resume-preview > div:nth-child(1) > div:nth-child(3) > ul > li:nth-child(5) {
  margin-top: 1.5vh;
  background-color: rgb(39, 42, 56);
  border-radius: 10px;
}

#resume-preview > div:nth-child(1) > div:nth-child(3) > ul > li:nth-child(5) > div {
  background-color: rgba(255, 255, 255, 0);
  padding: 1vh;
  border-radius: 1vh;
  border: 2px solid red;
}

#resume-preview > div:nth-child(1) > div:nth-child(3) > ul > li:nth-child(1) > div {
  font-size: 3em;
}

/* WORK EXPERIENCE */

#resume-preview > div > div > ul > li {
  display: grid;
}

#resume-preview > div > p {
  font-size: 2.5vh;
  padding-left: 3.2vw;
  margin-top: 2vh;
}

#resume-preview > div:nth-child(2) > div > ul > li:nth-child(5n + 5) > div, 
#resume-preview > div:nth-child(3) > div > ul > li:nth-child(5n + 5) > div {
  width: 65%;
  margin-top: 1vh;

}

#resume-preview > div:nth-child(2) > div > ul > li:nth-child(5n + 5) > div::before, 
#resume-preview > div:nth-child(3) > div > ul > li:nth-child(5n + 5) > div::before {
  font-size: large;
  content: '○ '
}

/* NEED TO ADD BUTTON THAT WILL LET USER ADD MORE DESCRIPTION BOXES IN WORK EXPERIENCE AND EDUCATION INPUTS */