/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


/* APP STYLING */


#app {
    display: grid;
    grid-template-areas: 
    'header header'
    'form preview';
    grid-template-columns: 0.9fr 1fr;
}

/* HEADER */

#app > header {
    grid-area: header;
    font-size: 40px;
}

/* FORM */

#app > div:first-child {
    grid-area: form;
    background: grey;
    font-size: 16px;
}

/* RESUME PREVIEW */

#app > div:last-child {
    grid-area: preview;
    background: rgb(207, 202, 202);
}